// Colors
$color-white: #fff;
$color-dark: #110E3C;
$color-background: #100E1D;
$color-background-light: #1E213A;
$color-button: #6E707A;
$color-button-blue: #3C47E9;
$color-light: #A09FB1;
$color-off-white: #E7E7EB;
$color-yellow: #FFEC65;
$color-faint: #616475;



// Font
$default-font-size: 1rem;
$large-font-size: 7.25rem;
$default-font-color: #E7E7EB;


//Shadows
$button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

//borders
$border-faint: 1px solid $color-faint;