.footer {
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
    font-size: 1.2rem;

    span {
        font-weight: 600;
        text-decoration: underline;
    }
}